# Python
__pycache__/
*.pyc

# Virtual environment
venv/
env/

# Django
db.sqlite3

# Environment variables
.env

# AWS credentials
.aws/
credentials
config

# Local files
*.json
*.log

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db