<!DOCTYPE html>
<html>

<head>

    <title>Weather Analytics Dashboard</title>

    <!-- Chart.js (we will use next step) -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</head>

<body style="font-family: Arial; background: #0f172a; color: white;">

<h1 style="text-align:center;">Weather Analytics Dashboard</h1>

<div id="weather-container" style="max-width:600px;margin:auto;margin-top:40px;">
    Loading weather...
</div>

<div style="max-width:700px;margin:50px auto;">
    <canvas id="tempChart"></canvas>
</div>


<script>

async function loadWeather() {

    const response = await fetch("/api/weather/");
    const data = await response.json();

    const latest = data.latest;
    const history = data.history;
    
    // ------------------------
    // WEATHER CARD
    // ------------------------

    document.getElementById("weather-container").innerHTML = `

        <div style="
            background:#1e293b;
            padding:20px;
            border-radius:15px;
            box-shadow:0 10px 20px rgba(0,0,0,0.3);
        ">

            <h2>${latest.city}</h2>

            <h1 style="font-size:48px;">
                ${latest.temperature}°C
            </h1>

            <p>🌥️ ${latest.weather}</p>

            <hr>

            <p>Humidity: ${latest.humidity}%</p>
            <p>Description: ${latest.description}</p>
            <p>Time: ${latest.timestamp}</p>

        </div>

    `;

    // ------------------------
    // CHART DATA
    // ------------------------
    const labels = history.map(item => item.timestamp);
    const temps = history.map(item => item.temperature);

    const ctx = document.getElementById('tempChart');

    new Chart(ctx, {
        type: 'line',
        data: {
            labels: labels,
            datasets: [{
                label: 'Temperature (°C)',
                data: temps,
                borderColor: 'blue',
                tension: 0.3
            }]
        },
        options: {
            responsive: true
        }
    });
    
}

loadWeather();

</script>


</body>

</html>